<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="finalproject.tap">


    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name=".MainActivity"
            android:largeHeap="true"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PlayActivity"

            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".InstructionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".CreditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".Popupmenu"
            android:theme="@style/AppTheme.CustomTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>
